
.intro-message {
    position: relative;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}
.background{
    background-color: #2B2B2B;
}
.center-text{
    text-align: center;
}
.black{
    color: black;
}
.background-image{
    background-color: silver;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
}
.text-size-projects{
    font-size: 25px;
}
footer{
    padding: 50px 0;
    background :rgba(192, 192,192,0.9)
}
body {
    overflow:visible
}
.text-size{
    font-size: 17px;
}
